
    {% extends "Home.html" %}

{% block content %}
    <h2 class="heading">{{operation}}  Seller</h2>
    <form id="frm" name="frm" method="post" action="/ProcessSellerOperation" enctype="multipart/form-data">
               
      
         <input type="hidden" name="operation" value="{{ operation }}"/>
         <input type="hidden" name="sellerID" value="{{ row.sellerID }}"/>

        

                                            <div class="form-group row">
                                    <label for="sellerName" class="col-sm-3 col-form-label">Sellername </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="sellerName" id="sellerName"  value="{{ row.sellerName }}" required {{'readonly' if operation == 'Delete'}} />
                                    </div>
                                </div>
                                            
                                            <div class="form-group row">
                                    <label for="title" class="col-sm-3 col-form-label">Title </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="title" id="title"  value="{{ row.title }}" required {{'readonly' if operation == 'Delete'}} />
                                    </div>
                                </div>
                                            
                                            <div class="form-group row">
                                    <label for="address1" class="col-sm-3 col-form-label">Address1 </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="address1" id="address1"  value="{{ row.address1 }}" required {{'readonly' if operation == 'Delete'}} />
                                    </div>
                                </div>
                                            
                                            <div class="form-group row">
                                    <label for="address2" class="col-sm-3 col-form-label">Address2 </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="address2" id="address2"  value="{{ row.address2 }}" required {{'readonly' if operation == 'Delete'}} />
                                    </div>
                                </div>
                                            
                                            <div class="form-group row">
                                    <label for="city" class="col-sm-3 col-form-label">City </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="city" id="city"  value="{{ row.city }}" required {{'readonly' if operation == 'Delete'}} />
                                    </div>
                                </div>
                                            
                                            <div class="form-group row">
                                    <label for="state" class="col-sm-3 col-form-label">State </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="state" id="state"  value="{{ row.state }}" required {{'readonly' if operation == 'Delete'}} />
                                    </div>
                                </div>
                                            
                                            <div class="form-group row">
                                    <label for="pincode" class="col-sm-3 col-form-label">Pincode </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="pincode" id="pincode"  value="{{ row.pincode }}" required {{'readonly' if operation == 'Delete'}} />
                                    </div>
                                </div>
                                            
                                            <div class="form-group row">
                                    <label for="country" class="col-sm-3 col-form-label">Country </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="country" id="country"  value="{{ row.country }}" required {{'readonly' if operation == 'Delete'}} />
                                    </div>
                                </div>
                                            
                                            <div class="form-group row">
                                    <label for="emailID" class="col-sm-3 col-form-label">Emailid </label>
                                    <div class="col-sm-9">
                                        <input type="email" class="form-control" name="emailID" id="emailID"  value="{{ row.emailID }}" required {{'readonly' if operation == 'Delete'}} />
                                    </div>
                                </div>
                                            
                                            <div class="form-group row">
                                    <label for="mobileNbr" class="col-sm-3 col-form-label">Mobilenbr </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="mobileNbr" id="mobileNbr"  value="{{ row.mobileNbr }}" required {{'readonly' if operation == 'Delete'}} />
                                    </div>
                                </div>
                                            
                            <div class="form-group row">
                                <label for="addressProofFile" class="col-sm-3 col-form-label">Addressprooffile </label>
                                <div class="col-sm-5">
                                    <input type="file" class="form-control" name="addressProofFile" id="addressProofFile"  value="{{ row.addressProofFile }}" {{'required' if operation == 'Create'}} {{'readonly' if operation == 'Delete'}} />
                                    
                                </div>
                                <div class="col-sm-4 {{'d-none' if not operation == 'Edit' }}" >
                                    <input type="hidden" name="haddressProofFile" value="{{ row.addressProofFile }}" />
                                    <a target="_blank" href="static/UPLOADED_FILES/{{ row.addressProofFile }}">{{ row.addressProofFile }}</a>
                                </div>
                            </div>
                                                    
                            <div class="form-group row">
                                <label for="photoProofFile" class="col-sm-3 col-form-label">Photoprooffile </label>
                                <div class="col-sm-5">
                                    <input type="file" class="form-control" name="photoProofFile" id="photoProofFile"  value="{{ row.photoProofFile }}" {{'required' if operation == 'Create'}} {{'readonly' if operation == 'Delete'}} />
                                    
                                </div>
                                <div class="col-sm-4 {{'d-none' if not operation == 'Edit' }}" >
                                    <input type="hidden" name="hphotoProofFile" value="{{ row.photoProofFile }}" />
                                    <a target="_blank" href="static/UPLOADED_FILES/{{ row.photoProofFile }}">{{ row.photoProofFile }}</a>
                                </div>
                            </div>
                                                    
    
		
        <div class="text-center">
                <button type="submit" class="btn btn-outline-primary btn-sm ">{{operation}}</button>
                <a href="/SellerListing" class="btn btn-outline-primary btn-sm ">Cancel</a>
        </div>

    </form>
    
{% endblock %}
    